/* top nav bar */
.top-bar{
    background-image: linear-gradient(#000000cf,#000000cf);
    width: 100%;
    color: white;
    padding: 10px 0;
}
.top-nav-link{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
.icon{
    transition: all .3s;
}
.top-nav-link:hover .icon{
    color: tomato;
    transform: scale(1.6);
}
/* main nav bar */
.main-nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-nav-link{
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: gray;
    transition: all .3s;
}
.main-nav-link:hover{
    color: tomato;
}
.last{
    background-color: tomato;
    color: white;
    padding: 6px;
    transition: all .3s;
}
.last:hover{
    background-color: white;
}
/* top banner */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
/* footer */
.connects a{
    color: tomato;
    padding: 5px;
    display: inline-block;
    transition: all .3s;
    border: 1px solid tomato;
    margin: 3px;
}
.connects a:hover{
    transform: scale(1.8);
    border: none;
}
/* blood donation process */
.blood{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.blood::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: gray;
    width: 100%;
    height: 2px;
    z-index: 1;
}
.blood::before{
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #FF0066;
    border-radius: 2px;
    width: 50%;
    height: 5px;
    z-index: 10;
}
/* blood groups */
.link{
    display: inline-block;
    text-decoration: none;
    margin-top: 3px;
    background-color: #F5035B ;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}